name: Generate Snake

on:
  schedule:
    # Corre esta acción cada 24 horas
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: platane/snk@v2
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: dist/snake.svg

      - name: Generate `snake.svg`
        run: |
          mkdir -p dist
          mv snake.svg dist/snake.svg

      - name: Push Snake to the GitHub repository
        uses: crazy-max/ghaction-github-pages@v4 # Cambia a la versión más reciente
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
